html {
  font-size: 62.5%;
  box-sizing: border-box;
}
Body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
/*layout*/
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: rgb(3, 13, 52);
}
main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: rgb(3, 13, 52);
  color: white;
}
/*common tags */

h1 {
  padding: 1rem 0;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
a:hover {
  color: green;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem red solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.2rem black solid;
}
button.primary {
  background-color: yellowgreen;
}
button.block {
  width: 100%;
}

header a {
  color: white;
  padding: 1rem;
}
/* style for main title*/
a.brand {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
  font-weight: bold;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
/*styling images*/
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}
.card {
  border: 0.1rem gray solid;
  background-color: rgb(240, 242, 245);
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/*rating*/
.rating span {
  color: #f0c040;
}
.rating span:last-child {
  color: black;
}
.success {
  color: greenyellow;
}
.error {
  color: red;
}
.alert {
  padding: 1rem;
  border: 1px solid red;
  border-radius: 0.5rem;
  color: brown;
  background-color: darkgray;
  font-weight: bold;
  text-align: center;
}
.Badge {
  background-color: red;
  color: whitesmoke;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

/* style for register&Signin*/
form {
  max-width: 60rem;
  margin: 0 auto;
}
form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
form label {
  margin: 1rem 0;
}
form input {
  border-radius: 0.5rem;
  border: 0.1rem blue solid;
}
form button {
  border-radius: 0.5rem;
  border: 0.2rem blue solid;
  margin-left: 1rem;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-item {
  position: absolute;
  display: none;
  right: 0;
  min-width: 10rem;
  padding: 1rem;
  margin: 0;
  z-index: 1;
  background-color: rgb(8, 23, 53);
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-item {
  display: block;
}

/* Checkout component */
.checkout > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout > div.active {
  border-top-color: red;
  color: red;
}

.payment-field {
  box-shadow: 5px 10px #888888;
  background-color: rgb(240, 242, 245);
  margin-bottom: 2rem;
  font-weight: bold;
  color: darkslateblue;
}
/*carousel styling*/
.carousel {
  width: 70%;
  height: 400px;
  margin: auto;
  padding: 10px;
}
.carouselInner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.carouselInner .left {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  color: white;
}

.carouselInner .center {
  flex: 90%;
  height: 100%;
  display: grid;
  place-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  text-align-last: center;
  color: rgb(8, 23, 53);
}
.carouselInner .right {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  color: white;
}
.carouselInner .center h1 {
  font-size: 5rem;
}
.carouselInner .center p {
  font-size: 3rem;
}
.carouselInner .center p,
h1 {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 9%;
}

/*sidebar*/
.sidebarButton button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: rgb(8, 23, 53, 0.8);
  height: 100%;
  color: white;
  /* transition: all 0.5;
  border-right: 0.1 white solid; */
}
.sidebar.open {
  transform: translateX(0);
}
.sideBarCloseBtn {
  background-color: white;
  color: rgb(105, 7, 23);
  border-radius: 9%;
  border: 0.1rem rgb(105, 7, 23) solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}
.sidebar.open li {
  font-size: 2rem;
  color: rgb(8, 23, 53);
  padding-left: 1rem;
  font-weight: bold;
}
.sidebar.open li .link {
  color: #fff;
}
.sidebar.open li .link:hover {
  color: rgb(105, 7, 23);
}
.link-nav {
  font-weight: bold;
}
